.block_teaching_team .user_profile {
    margin-bottom: 10px;
    overflow: hidden;
    background: #fbfbfb;
    border-right: 2px solid #ededed;
}

.block_teaching_team .user_profile:last-child {
    margin-bottom: 0px;
}

.block_teaching_team .user_profile .user_picture {
    float: left;
    width: 35%;
}

.block_teaching_team .user_profile .user_picture .user_image {
    width: 100%;
}

.block_teaching_team .user_profile .user_details {
    float: left;
    width: 65%;
}

.block_teaching_team .user_profile .user_details .detail {
    margin: 0px 15px;
    font-size: 0.9em;
}

.block_teaching_team .user_profile .user_details .detail:first-child {
    margin-top: 15px;
}

.block_teaching_team .user_profile .user_details .detail:last-child {
    margin-bottom: 15px;
}

.block_teaching_team .user_profile .user_details .detail.role {
    font-size: 1.15em;
    color: #009ed7;
    margin-bottom: 5px;
}

.block_teaching_team .user_profile .user_details .detail.email a {
    color: #2f2f2f;
}

/* Temp fix until converted to plugin */
#page-blocks-teaching_team-course #region-main .card-block {
    display: inline;
    padding: 0;
    border: none;
}
#page-blocks-teaching_team-course [data-region="blocks-column"] {
    width: 100% !important;
}

.block_teaching_team .teaching_team {
    width: 95%;
    float: left;
    text-align: center;
    max-width:100%;
}

#page-blocks-teaching_team-course .block_teaching_team .card-title {
    font-size: 36px !important;
    float: left !important;
    text-align: left;
}

@media only screen and (max-width: 500px) { /*make user profile span entire column up to 500px*/
    #page-blocks-teaching_team-course .teaching_team .user_profile {
        width:210px;
    }
}

#page-blocks-teaching_team-contactusform .action {
    cursor: pointer;
}

#page-blocks-teaching_team-contactusform .action.save, #page-blocks-teaching_team-contactusform .action.cancel {
    color: blue;
}

#page-blocks-teaching_team-contact_us .contact-us-submit {
    font-size: 12px;
    padding: 5px 20px;
}

#page-blocks-teaching_team-contact_us .contact-us-submit .fa-spin {
    vertical-align: middle;
    display: none;
}
