<table id="dropdownvalues" class="table table-bordered">
    <caption class="small pt-0 pb-0">The following dropdown values are available</caption>
    <thead>
        <tr>
            <th scope="col">Sender View</th>
            <th scope="col">Salesforce Mapping</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#records}}
            <tr>
                <td>{{formreason}}</td>
                <td>{{sfmapping}}</td>
                <td>Edit / Delete</td>
            </tr>
        {{/records}}
    </tbody>
</table>