<table id="formroletypes" class="table table-bordered">
    <caption class="small pt-0 pb-0">Forms have been set up for the following roles</caption>
    <thead>
        <tr>
            <th scope="col">From</th>
            <th scope="col">Salesforce Endpoint</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#records}}
            <tr>
                <td>{{name}}</td>
                <td><a href="{{salesforceapi}}">{{salesforceapi}}</a></td>
                <td>Edit / Delete</td>
            </tr>
        {{/records}}
    </tbody>
</table>