<form action="add_form_dropdown" method="post" id=add_form_dropdown_form>
    <input type="text" name="formreason" id="formreason" required>
    <input type="text" name="sfmapping" id="sfmapping" required>
    <input type="submit" value="Submit">
</form>